.layout{
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 10px;
	padding: 10px;
}

#item1{
	grid-row: span 1;
	grid-column: span 1;
	text-align: center;
}

#item2{
	margin-top: 30px;
	grid-row: span 1;
	grid-column: span 1;
	text-align: center;
	
}

#item3{
	grid-column: span 2;
	grid-row: span 2;
	text-align: right;

}

#heading{
    text-align: center;
}


body{
    background-color: beige;
}

#myCanvas{
    background-color: white;
    border: solid;
    width: 1200px; 
    height: 600px;
}

#widget-container{
    display: flex;
}

.staticButtons{
    background-color: #575761;
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 25px;
    font-size: 30px;
    color: #FFFFFF;
    margin: 10px;
    padding: 10px;
    width: 250px;
    
}

.container{
    text-align: center;
    width: 200px;
    margin: 10px;
    background-color: whitesmoke;
    border-radius: 25px;
    border: solid;
    border-color: gray;
    height: 200px;
}

select{
    text-align: center;

}